.background-img {
  background-image: url('../../../../_sos/assets/images/hero.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background: #e4e4e4;
}
