.pdb-info {
  // min-height: calc(100vh - 140px);

  .apexcharts-toolbar {
    visibility: hidden;
  }
  .pdb-info,
  .voltage-details,
  .current-details {
    .apexcharts-toolbar {
      visibility: visible;
    }
  }

  select {
    height: 35px;
    width: 200px;
    padding: 6px 8px;
    border: 1.5px solid #d2d2d2;
    border-radius: 5px;
    background: #f9f9f9;
    color: #6e727e;
    font-weight: 400;
    font-size: 13px;
  }

  .switch-container {
    width: max-content;
    display: flex;
    justify-content: flex-end;
    padding: 22px 30px 0 30px;
    .switch {
      position: relative;
      display: inline-block;
      width: 57px;
      height: 30px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #d71921;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 23px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: rgb(12, 206, 12);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px rgb(12, 206, 12);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 5px;
    }

    .slider.round:before {
      border-radius: 15%;
    }
  }
}
